.leaflet-control-container {
    display: none;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-layer {
    filter: brightness(1.2);
}

.spinner {
    border: 4px solid rgba(150, 150, 150, 1); /* Light grey border */
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #F89D15; /* Blue left border */
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient-button {
    background: linear-gradient(135deg, #ff6b6b, #ffcc6b);
    transition: background 0.3s ease, transform 0.3s ease;
}

.gradient-button:hover {
    background: linear-gradient(135deg, #e86464, #efbf64);
}

